<nz-layout class="app-layout">
    <nz-header>
        <div class="logo">

        </div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item>
                <a [routerLink]="['/','dashboard']">仪表盘</a>
            </li>
            <li nz-menu-item>
                <a [routerLink]="['/','cluster']">集群信息</a>
            </li>
            <li nz-menu-item>
                <a [routerLink]="['/','topic']">主题信息</a>
            </li>
            <li nz-menu-item>
                <a [routerLink]="['/','producer']">生产者</a>
            </li>
            <li nz-menu-item>
                <a [routerLink]="['/','consumer']">消费者</a>
            </li>
            <li nz-menu-item>
                <a [routerLink]="['/','message']">消息</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a [routerLink]="['/','settings']">全局设置</a>
            </li>
        </ul>
    </nz-header>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
</nz-layout>